<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>个人日志</title>
        <link rel="icon" type="image/icon" href="/images/tabicon.ico">

        <link rel="stylesheet" type="text/css" href="">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Josefin+Sans:700" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link rel="icon" href="/images/logo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        
    </head>

    <body>
        <div id="index">                                           <!-- Index starts here -->
            <div class="container main">
                <div class="row home">
                    <div id = "index_left" class="col-md-6 left">
                        <img class="img-responsive img-rabbit mainimg" src="/images/home.jpg">
                    </div>
                    <div id = "index_right" class="col-md-6 text-center right">
                        <div class="logo">
                            <img src="/images/logo.png">
                            <h4>little Sun</h4>
                        </div>
                        <p class="home-description">
                            Hi, my name is 孙正港,これからもよろしくお願いします!
                        </p>
                        <div class="btn-group-vertical custom_btn animated slideinright mainbtn">
                            <a id="关于" class="btn btn-rabbit" href="/about">关于</a>
                            <a id="文章" class="btn btn-rabbit" href="/blog">文章</a>
                            <a id="联系" class="btn btn-rabbit" href="/connect">联系</a>
                        </div>      
                        <div class="social">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>                                                      <!-- index ends here -->


        <script src="/js/jquery-3.1.0.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>